{% extends "base_public.twig" %}

{% block header %}
	{% include 'layout/public/header.twig' %}
{% endblock %}


{% block content %}
	<section class="bg-primary" id="about">
	  <div class="container">
	    <div class="row">
	      <div class="col-lg-8 mx-auto text-center">
	        <h2 class="section-heading text-white">¡Tenemos lo que necesitas!</h2>
	        <hr class="light my-4">
	        <p class="text-faded mb-4">Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>
	        <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
	      </div>
	    </div>
	  </div>
	</section>

	<section id="services">
	  <div class="container">
	    <div class="row">
	      <div class="col-lg-12 text-center">
	        <h2 class="section-heading">A su servicio</h2>
	        <hr class="my-4">
	      </div>
	    </div>
	  </div>
	  <div class="container">
	    <div class="row">
	    	{% for service in services %}
	    		<div class="col-lg-4 col-md-6 text-center">
	    		  <div class="service-box mt-5 mx-auto">
	    		    <i class="{{ service.icon }} fa-4x text-primary mb-3 sr-icon-1"></i>
	    		    <h3 class="mb-3">{{ service.title }}</h3>
	    		    <p class="text-muted mb-0">{{ service.description }}</p>
	    		  </div>
	    		</div>
	    	{% endfor %}
	    </div>
	  </div>
	</section>

	<section class="p-0" id="portfolio">
	  <div class="container-fluid p-0">
	    <div class="row no-gutters popup-gallery">
	    	{% for product in products %}
	    		<div class="col-lg-6 col-sm-6">
	    		  <a class="portfolio-box" href="img/portfolio/fullsize/1.jpg">
	    		    <img class="img-fluid" src="img/portfolio/thumbnails/1.jpg" alt="">
	    		    <div class="portfolio-box-caption">
	    		      <div class="portfolio-box-caption-content">
	    		        <div class="project-category text-faded">
	    		          Category
	    		        </div>
	    		        <div class="project-name">
	    		          {{ product.title }}
	    		        </div>
	    		      </div>
	    		    </div>
	    		  </a>
	    		</div>
	    	{% endfor %}
	    </div>
	  </div>
	</section>

	<section class="bg-dark text-white">
	  <div class="container text-center">
	    <h2 class="mb-4">Free Download at Start Bootstrap!</h2>
	    <a class="btn btn-light btn-xl sr-button" href="http://startbootstrap.com/template-overviews/creative/">Download Now!</a>
	  </div>
	</section>

	<section id="contact">
	  <div class="container">
	    <div class="row">
	      <div class="col-lg-8 mx-auto text-center">
	        <h2 class="section-heading">¡Mantengámonos en contacto!</h2>
	        <hr class="my-4">
	        <p class="mb-5">¿Te interesa alguno de nuestros servicios y productos? ¡Eso es genial! Llámanos o envíanos un correo electrónico y nos pondremos en contacto con usted lo antes posible!</p>
	      </div>
	    </div>
	    <div class="row">
	      <div class="col-lg-4 ml-auto text-center">
	        <i class="fas fa-phone fa-3x mb-3 sr-contact-1"></i>
	        <p>123-456-6789</p>
	      </div>
	      <div class="col-lg-4 mr-auto text-center">
	        <i class="fas fa-envelope fa-3x mb-3 sr-contact-2"></i>
	        <p>
	          <a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a>
	        </p>
	      </div>
	    </div>
	  </div>
	</section>
{% endblock %}