{% extends "base.twig" %}

{% block content %}
	<a href="/jobs/create" class="btn btn-success">Nuevo Job</a>
	<h1>Lista de Jobs</h1>
	<table class="table">
		<thead>
			<th>ID</th>
			<th>Title</th>
			<th>Description</th>
			<th>Acciones</th>
		</thead>
		<tbody>
			{% for job in jobs %}
				<tr>
					<td>{{ job.id }}</td>
					<td>{{ job.title }}</td>
					<td>{{ job.description }}</td>
					<td><a href="/jobs/{{ job.id }}/edit" class="btn btn-primary">Editar</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}